<ul>
    <li class="btn-main">
        <a href="index.html">Home</a>
    </li>
        </div>
    </li>
    <li class="btn-main" onmouseover="mouseover_on_nav_item(this)" onmouseout="mouseout_on_nav_item(this)">
        <a href="#">Vaccines</a>
        <div class="nav-submenu" onmouseover="mouseover_on_nav_item(this)">
            <ul>
                <li>
                    <span class="material-icons-outlined">task</span>
                    <a href="https://www.cdc.gov/coronavirus/2019-ncov/vaccines/different-vaccines.html/"> Types Of Vaccines</a>
                </li>
                <li> 
                    <span class="material-icons-outlined">task</span>
                    <a href="https://www.cdc.gov/coronavirus/2019-ncov/vaccines/vaccine-benefits.html">Benefits of The Covid Vaccine</a>
                </li>
                <li>
                    <span class="material-icons-outlined">task</span>
                    <a href="https://www.healthline.com/health-news/vaccine-side-effects-vs-covid-19-damage-theres-no-comparison">Side Effects Of Covid Vaccine</a>
                </li>
            </ul>
        </div>
    </li>
    <li class="btn-main">
        <a href="https://walters-skn.github.io/covidmemorygame/">Memory Game</a>
    </li>
    <li class="btn-main">
        <a href= "store.html">Store</a>
    </li>
    <li class="btn-main">
        <a href="contact.html">Contact Me</a>
    </li>
</ul>